{% extends 'flatpages/default.html' %}

{% block content %}
  <h1>{{ ad.title }}</h1>
  <table>
    <tr>
      <td><strong>Заголовок:</strong></td>
      <td>{{ ad.title }}</td>
    </tr>
    <tr>
      <td><strong>Дата публикации:</strong></td>
      <td>{{ ad.created_time|date:'d M Y' }}</td>
    </tr>
    <tr>
      <td><strong>Категория:</strong></td>
      <td>{{ ad.category.name }}</td>
    </tr>
    <tr>
      <td><strong>Автор:</strong></td>
      <td>{{ ad.user.username }}</td>
    </tr>
    <tr>
      <td><strong>Текст объявления:</strong></td>
      <td>{{ ad.description|safe }}</td>
    </tr>
  </table>
{% endblock %}